.git
.github
.gitignore
.env
.venv
.mypy_cache
.pytest_cache
.coverage
.coverage.*
.cache
.pre-commit-config.yaml

__pycache__
*.py[cod]
*.egg-info

htmlcov/
staticfiles/

*.log
*.sqlite3

LICENSE.txt
README.md
Procfile.dev
runtime.txt
bucket-policy.json
Dockerfile
