<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <title>
      Queremos Saber
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'web/styles/main.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Queremos Saber">
    <meta property="og:description" content="Faça pedidos de acesso à informação sem revelar sua identidade.">
    <meta property="og:image" content="{% static 'web/images/_logo.png' %}">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'index' %}">
    <meta property="og:type" content="website">
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo-wrapper">
          <a class="logo" href="{% url 'index' %}">
            {% include '_logo.svg' %}
          </a>
          <p>
            Faça pedidos de acesso à informação sem revelar sua identidade.
          </p>
        </div>

        <div class="request">
          {% include '_search_request.html' %}
          <a class="button" href="{% url 'foi_request_new' %}">
            Fazer Pedido
          </a>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer>
      <div class="wrapper">
        <div style="width:65%; float:left;">
          <p>
          O <a href="{% url 'index' %}">Queremos Saber</a> é um projeto sem fins lucrativos desenvolvido por cidadãos interessados em um Brasil mais transparente. Entre em contato pelo e-mail <a href="mailto:queremossaber@fiquemsabendo.com.br">queremossaber@fiquemsabendo.com.br</a>.
          </p>
          <p>
            <a href="{% url 'foi_request_new' %}">Faça um pedido</a>
            |
            <a href="{% url 'faq' %}">Perguntas Frequentes</a>
            |
            <a href="mailto:queremossaber@fiquemsabendo.com.br">Contato</a>
          </p>
        </div>
        <div style="width:35%; float:right;">
          <p align="right">
            Apoio<br>
            <a class="fs-logo" href="https://fiquemsabendo.com.br" rel="external">
              {% include '_logo_fs.svg' %}
            </a>
            <a class="okbr-logo" href="https://ok.org.br" rel="external">
              {% include '_logo_okbr.svg' %}
            </a>
          </p>
        </div>
      </div>
    </footer>
    {% block scripts %}{% endblock %}
  </body>
</html>
