<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <title>
      LAI Anônima
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/web/styles/main.css' %}">
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          LAI Anônima
        </a>

        <div>
          {% include '_search_request.html' %}
          <a href="{% url 'message_new' %}">
            Enviar Novo Pedido
          </a>
        </div>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <div>
        {% now "Y" %} - LAI Anônima é um projeto de código aberto, sem fins lucrativos.
      </div>
    </footer>
    <script src="{% static '/web/js/web.js' %}"></script>
  </body>
</html>
