{% extends "base.html" %}

{% block content %}
<section class="faq">
  <h2>Perguntas frequentes</h2>

  <dl>
    <dt>O que é a Lei de Acesso à Informação (LAI)?</dt>
    <dd>
      A Lei de Acesso à Informação (<a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm" rel="external" target="_blank">Lei 12.527/2011</a>), também conhecida como LAI, regulamenta o direito constitucional do cidadão de acessar qualquer informação pública sem que seja necessário apresentar o motivo. Ela obriga órgãos públicos a considerar a publicidade como regra e o sigilo como exceção e vale para os três poderes da União, Estados, Distrito Federal e Municípios.
    </dd>

    <dt>Para quem o Pedidos Anônimos foi feito?</dt>
    <dd>
    Nossa plataforma é direcionada a pessoas que se sintam em risco ao realizar pedidos de informação a um determinado órgão público. Independente do motivo -- seja por sua sua profissão, pelo teor do pedido ou por divergências políticas --, se você se sente constrangido(a) pela obrigatoriedade de se identificar ao buscar uma informação pública, pode recorrer ao Pedidos Anônimos para fazê-lo em segurança.
    </dd>

    <dt>Eu preciso pagar para usar o Pedidos Anônimos?</dt>
    <dd>
    Não. Assim como o acesso à informação no Brasil, o uso da plataforma para realizar pedidos anônimos é totalmente gratuita.
    </dd>

    <dt>Em quanto tempo terei minha resposta?</dt>
    <dd>
      A LAI garante que, caso disponíveis, as informações são concedidas imediatamente ao solicitante. Do contrário, como em pedidos online, o órgão tem até 20 dias para enviá-las, com direito a mais 10 dias de prorrogação, se necessário e mediante justificativa do órgão. É possível ver mais regras de prazos <a href="http://www.acessoainformacao.gov.br/assuntos/pedidos/prazos" rel="external" target="_blank">nesse link</a>.
    </dd>

    <dt>O prazo de resposta da LAI começa a contar quando envio um pedido no Pedidos Anônimos?</dt>
    <dd>
      Não, só depois do pedido passar pela nossa moderação e ser cadastrado no órgão público.
    </dd>

    <dt>Posso fazer qualquer tipo de pedido?</dt>
    <dd>
    Sim. É preciso apenas se certificar de que o pedido seja válido e não apresente conteúdo difamatório ou preconceituoso em seu texto. Apesar disso, pedimos que você só use essa plataforma para pedidos em que você não quer revelar sua identidade. Isso evitaria sobrecarregar nosso sistema com pedidos não sensíveis.
    </dd>

    <dt>Como sei que meu pedido é realmente anônimo?</dt>
    <dd>
      Nós não pedimos nenhum dado pessoal para cadastrar um novo pedido, nem guardamos registros de acesso ou endereços IP. Em outras palavras, nem nós mesmos sabemos quem fez o pedido. Você também pode usar o <a href="https://www.torproject.org/projects/torbrowser.html" rel="external">navegador Tor</a> para garantir sua privacidade mesmo caso nossos servidores sejam invadidos.
    </dd>

    <dt>Onde acesso o código-fonte deste projeto?</dt>
    <dd>
      O Pedidos Anônimos é um software livre. O código-fonte está disponível no <a href="http://github.com/okfn-brasil/pedidosanonimos" rel="external">GitHub</a>.
    </dd>

  </dl>
</section>
{% endblock %}
