{% extends "base.html" %}

{% block content %}
<div>
  <div id="how-it-works">
    <h2>
      Como funciona?
    </h2>
<svg xmlns="http://www.w3.org/2000/svg" width="1016" height="228" viewBox="0 0 1016 228">
  <g fill="none" fill-rule="evenodd">
    <g fill-rule="nonzero" transform="translate(27 27)">
      <circle cx="81" cy="81" r="94.5" fill="#C8D6E5" stroke="#C8D6E5" stroke-width="27"/>
      <path fill="#222F3E" d="M145.093797,130.533965 C130.278599,149.675851 107.078529,162 81,162 C54.9214711,162 31.7214014,149.675851 16.906203,130.533965 C22.3705384,115.205673 33.1775579,102.413477 47.0855146,94.3991226 C42.4057815,87.6990885 39.6608051,79.5477113 39.6608051,70.7552105 C39.6608051,47.9242036 58.1689931,29.4160156 81,29.4160156 C103.831007,29.4160156 122.339195,47.9242036 122.339195,70.7552105 C122.339195,79.5477113 119.594219,87.6990885 114.914485,94.3991226 C128.822442,102.413477 139.629462,115.205673 145.093797,130.533965 Z"/>
    </g>
    <g transform="translate(401)">
      <rect width="216" height="216" fill="#2E86DE" fill-rule="nonzero" rx="10"/>
      <path fill="#FFF" d="M32.7988281,141.53418 L32.7988281,74.4658203 L46.0507812,74.4658203 L46.0507812,129.854492 L74.3964844,129.854492 L74.3964844,141.53418 L32.7988281,141.53418 Z M105.751953,86.5947266 L99.5078125,114.041992 L112.041016,114.041992 L105.751953,86.5947266 Z M97.6660156,74.4658203 L113.882812,74.4658203 L131.986328,141.53418 L118.734375,141.53418 L114.601562,124.958008 L96.8574219,124.958008 L92.8144531,141.53418 L79.5625,141.53418 L97.6660156,74.4658203 Z M141.195312,86.1455078 L141.195312,74.4658203 L181.130859,74.4658203 L181.130859,86.1455078 L167.789062,86.1455078 L167.789062,129.854492 L181.130859,129.854492 L181.130859,141.53418 L141.195312,141.53418 L141.195312,129.854492 L154.537109,129.854492 L154.537109,86.1455078 L141.195312,86.1455078 Z"/>
    </g>
    <g fill-rule="nonzero" transform="translate(826 27)">
      <circle cx="81.457" cy="81" r="94.5" fill="#C8D6E5" stroke="#C8D6E5" stroke-width="27"/>
      <path fill="#222F3E" d="M56.8523847,108.493795 L72.7488594,108.493795 L72.7488594,58.8409949 L90.3584717,58.8409949 L90.3584717,108.493795 L107.809497,108.493795 L107.809497,58.8409949 L125.419109,58.8409949 L125.419109,108.493795 L137.345564,108.493795 L137.345564,116.011697 L26.7656011,116.011697 L26.7656011,108.493795 L39.2427724,108.493795 L39.2427724,58.8409949 L56.8523847,58.8409949 L56.8523847,108.493795 Z M26.4662357,137.443808 L26.4662357,119.834196 L137.644929,119.834196 L137.644929,137.443808 L26.4662357,137.443808 Z M26.4662357,55.0184964 L26.4662357,37.4088841 L82.0555823,15.8678422 L137.644929,37.4088841 L137.644929,55.0184964 L26.4662357,55.0184964 Z"/>
    </g>
    <g fill-rule="nonzero" transform="translate(239 72.5)">
      <g fill="#7ED321">
        <polygon points="0 11 132.622 11 137 15 132.622 19 0 19"/>
        <rect width="18.267" height="8" x="118.825" y="6.736" transform="rotate(45 127.958 10.736)"/>
        <rect width="18.267" height="8" x="118.825" y="15.243" transform="scale(1 -1) rotate(45 174.416 0)"/>
      </g>
      <g fill="#2E86DE" transform="matrix(-1 0 0 1 136.5 41.993)">
        <rect width="131" height="8" x=".096" y="10.435"/>
        <rect width="20" height="8" x="115.587" y="6.103" transform="rotate(45 125.587 10.103)"/>
        <rect width="20" height="8" x="115.587" y="14.648" transform="scale(1 -1) rotate(45 170.607 0)"/>
      </g>
    </g>
    <g fill-rule="nonzero" transform="translate(639 72.5)">
      <g fill="#7ED321">
        <polygon points="0 11 132.622 11 137 15 132.622 19 0 19"/>
        <rect width="18.267" height="8" x="118.825" y="6.736" transform="rotate(45 127.958 10.736)"/>
        <rect width="18.267" height="8" x="118.825" y="15.243" transform="scale(1 -1) rotate(45 174.416 0)"/>
      </g>
      <g fill="#2E86DE" transform="matrix(-1 0 0 1 136.5 41.993)">
        <rect width="131" height="8" x=".096" y="10.435"/>
        <rect width="20" height="8" x="115.587" y="6.103" transform="rotate(45 125.587 10.103)"/>
        <rect width="20" height="8" x="115.587" y="14.648" transform="scale(1 -1) rotate(45 170.607 0)"/>
      </g>
    </g>
    <text fill="#222F3E" font-family="Menlo-Bold, Menlo" font-size="20" font-weight="bold">
      <tspan x="241.274" y="31">você faz um</tspan> <tspan x="223.213" y="55">pedido anônimo</tspan>
    </text>
    <text fill="#222F3E" font-family="Menlo-Bold, Menlo" font-size="20" font-weight="bold">
      <tspan x="653.315" y="31">LAI faz o</tspan> <tspan x="647.295" y="55">seu pedido</tspan>
    </text>
    <text fill="#222F3E" font-family="Menlo-Bold, Menlo" font-size="20" font-weight="bold">
      <tspan x="633.619" y="175">órgão responde</tspan> <tspan x="669.742" y="199">para LAI</tspan>
    </text>
    <text fill="#222F3E" font-family="Menlo-Bold, Menlo" font-size="20" font-weight="bold">
      <tspan x="235.254" y="175">LAI responde</tspan> <tspan x="271.377" y="199">no seu</tspan> <tspan x="253.315" y="223">protocolo</tspan>
    </text>
  </g>
</svg>
    <p>
      Nós fazemos o seu pedido nosso nome. Dessa forma, o órgão público não saberá que o pedido é seu, garantindo sua privacidade. Funciona assim:
    </p>
    <p>
      Você cria o pedido no Queremos Saber e guarda o número de protocolo. Esse protocolo é a única forma de acompanhar o pedido (não perca!)
    </p>
    <p>
      Seu pedido entra em uma fila de moderação, para evitar que mensagens inválidas sejam criadas
    </p>
    <p>
      O pedido é feito no órgão público usando nosso nome
    </p>
    <p>
      Quando o órgão responder, cadastramos a resposta no nosso sistema. Na próxima vez que você checar o pedido usando seu protoclo, você verá a resposta do órgão.
    </p>
    <p>
      Você pode pensar no Queremos Saber como um correio anônimo. Nós recebemos e entregamos as mensagens enviadas entre você e o órgão público, mas sem revelar quem as enviou.
    </p>
  </div>

  <div id="about" hidden>
    <h2>
      Sobre
    </h2>
    <p>
      A Lei de Acesso à Informação (LAI) é um dos principais instrumentos de controle social disponíveis à sociedade brasileira.
      Com ele, qualquer cidadão pode pedir informações ao poder público, que é obrigado a responder e, caso não possa atender a demanda, justificar o porquê.
    </p>
    <p>
      Para enviar um pedido, o solicitante precisa informar seu nome e um documento ao órgão público (algumas vezes, até seu endereço). A justificativa é que essa informação seria necessária para que o órgão soubesse para quem responder, mas isso acaba gerando um empecilho para alguns solicitantes.
    </p>
    <p>
      Há diversos relatos de ameaças, sutis ou agressivas, demissões e outros tipos de represálias. Uma funcionária pública federal que, depois de pedir informações sobre um determinado contrato bastante controverso, é exonerada de seu cargo de chefia. Um integrante de uma ONG que solicitou informações sobre a Polícia Militar ao governo estadual, e recebeu uma ligação de um coronel da PM em tom de ameaça, chegando a mencionar os financiadores de sua ONG. Um funcionário de uma empresa pública estadual desconfia que a cúpula da empresa está desviando dinheiro, e então pede a seu irmão para fazer pedidos de acesso à informação. Depois disso, é demitido por justa causa, por desobediência.
    </p>
    <p>
      Infelizmente, esses relatos são reais. Além de represálias, um pedido pode ser respondido de forma diferente se o solicitante é um jornalista, ou um pesquisador de uma grande universidade, ou um cidadão comum.
    </p>
    <p>
      Tudo isso nos leva a conclusão que a exigência de identificação do solicitante é um problema, que limita o uso da Lei de acesso à informação. O objetivo deste projeto é proteger a identidade de um cidadão que faça um pedido de informação.
    </p>
  </div>


  <div id="privacy-and-security">
    <h2>
      É seguro?
    </h2>
    <p>
      Não pedimos nenhum dado pessoal seu para criar o pedido. Também não guardamos nenhum registro de acesso. Em outras palavras, nem nós mesmos sabemos quem fez o pedido.
    </p>
    <p>
      Nenhum sistema é 100% seguro (desconfie de quem diz que é), mas você pode praticamente garantir sua segurança seguindo as seguintes sugestões:
    </p>
    <ul>
      <li>
        <p>
          Só acesse esse site de sua casa ou uma rede pública como a WiFi de um shopping
        </p>
      </li>
      <li>
        <p>
          Tente fazer um pedido que não levante suspeitas
        </p>
        <ul>
          <li>
            <p>
              Não coloque dados pessoais
            </p>
          </li>
          <li>
            <p>
              Ao invés de pedir um dado muito específico, que poucas pessoas conheçam (podendo levantar suspeitas), peça algo mais geral. Por exemplo, ao invés de pedir informações de uma licitação específica, peça de todas as licitações em um período que inclua o que você quer saber, assim o que você quer saber está “diluído” nos dados da resposta
            </p>
          </li>
          <li>
            <p>
              Use o navegador Tor para acessar esse site (ele vai esconder o endereço IP do seu computador)
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="reasoning">
    <h2>
      Por que esse projeto foi criado?
    </h2>
    <p>
      A LAI foi um grande avanço na transparência pública. Infelizmente, ela tem um grave problema: exige a identificação do solicitante.
    </p>
    <p>
      Pelo princípio da impessoalidade, o Estado deve tratar a todos da mesma forma. Infelizmente, isso nem sempre acontece. Há relatos de pessoas que sofreram represálias por causa de um pedido de informação (adicionar link pro relatório da LAI). O medo dessas represálias pode inibir cidadãos a fazerem pedidos de informação. Por exemplo, servidores públicos em cargos comissionados ou empresas que dependam do Estado.
    </p>
    <p>
      Acreditamos que a única forma de garantir que todos sejam tratados da mesma forma é não revelar a identidade de ninguém. Por isso criamos este projeto.
    </p>
  </div>
</div>
{% endblock %}
