{% extends "base.html" %}

{% block content %}
<div>
  <div id="how-it-works">
    <h2>
      Como funciona?
    </h2>

    {% include '_fluxo_pedidos.svg' %}

    <p>
      Nós fazemos o seu pedido em nosso nome. Dessa forma, o órgão público não saberá que o pedido é seu, garantindo sua privacidade. Funciona assim:
    </p>
    <ol>
      <li>
        Você cadastra seu pedido no Queremos Saber
        <p>
          Não pedimos nenhum dado pessoal para cadastrar um pedido. Cada pedido
          tem um número de protocolo único (e.x.: <a href="{% url 'foirequest_detail' 'HQCYR6KQ' %}">HQCYR6KQ</a>), que é a única forma
          de acompanhar o pedido (não perca!)
        </p>
      </li>

      <li>
        O pedido passa por moderação
        <p>
          Essa moderação serve para evitar que mensagens que não sejam pedidos de informação sejam criadas.
        </p>
      </li>

      <li>
        O pedido é cadastrado no órgão em nosso nome
        <p>
          Do ponto de vista do órgão, somos nós quem estamos fazendo o pedido. É só a partir deste momento que os prazos legais para resposta começam a contar.
        </p>
      </li>

      <li>
        O órgão responde
        <p>
          Cadastramos essa resposta no nosso sistema. Você poderá vê-la na próxima vez checar o pedido usando o seu protocolo.
        </p>
      </li>
    </ol>

    <p>
      Você pode pensar neste site como um intermediador. Nós recebemos e entregamos as mensagens enviadas entre você e o órgão público, mas sem revelar quem as enviou.
    </p>
    <p>
      Como não temos nenhuma informação pessoal sua, não temos como
      notificá-lo da resposta. Por isso, recomendamos que você consulte
      regularmente seu pedido até receber sua resposta.
    </p>
  </div>

  <div id="privacy-and-security">
    <h2>
      É seguro?
    </h2>
    <p>
      Não pedimos nenhum dado pessoal nem guardamos registros de acesso. Em
      outras palavras, nem nós mesmos sabemos quem fez o pedido. Os principais
      riscos de alguém identificá-lo como solicitante seriam alguém reconhecer
      sua forma de escrita, você ser visto acessando este site, ou encontrarem
      com você o número do protocolo do pedido. Para evitar que isso aconteça,
      recomendamos que você:
    </p>
    <ul>
      <li>
        Só acesse esta página de sua casa ou de uma rede pública como a WiFi de um shopping.
      </li>
      <li>
        Guarde o número de protocolo do seu pedido em um lugar seguro.
      </li>
    </ul>
  </div>

  <div>
    <h2>Onde posso saber mais sobre este projeto?</h2>
    <p>
      Você pode ler nossa página de <a href="{% url 'faq' %}">Perguntas Frequentes</a>, acessar o código-fonte no <a href="https://github.com/FiquemSabendo/queremossaber" rel="external">GitHub</a>, ou entrar em contato via <a href="mailto:queremossaber@fiquemsabendo.com.br">queremossaber@fiquemsabendo.com.br</a>.
    </p>
  </div>
</div>
{% endblock %}
