<dl class="lh-title mt0">
  <dt class="f6 b">
    Criado em
  </dt>
  <dd class="ml0 mb3">
    {{ message.created_at }}
  </dd>
  <dt class="f6 b">
    Titulo
  </dt>
  <dd class="ml0 mb3">
    {{ message.title }}
  </dd>
  <dt class="f6 b">
    Corpo
  </dt>
  <dd class="ml0 mb3">
    {{ message.body }}
  </dd>
  {% if message.attached_file %}
    <dt class="f6 b">
      Arquivos
    </dt>
    <dd class="ml0 mb3">
      <a href="{{ message.attached_file.url }}">{{ message.attached_file.url }}</a>
    </dd>
  {% endif %}
</dl>
