<article class="message-details {% if message.is_from_user %}message-user{% else %}message-publicbody{% endif %}">
  <dl class="message-meta">
    <dt>
      De
    </dt>
    <dd>
      {{ message.sender | default:"Solicitante" }}
    </dd>
    <dt>
      Enviado em
    </dt>
    <dd>
      {{ message.sent_at | default:"Não enviado" }}
    </dd>
    {% if message.attached_file %}
      <dt>
        Arquivos anexos
      </dt>
      <dd>
        <a href="{{ message.attached_file.url }}">{{ message.attached_file.name }}</a>
      </dd>
    {% endif %}
  </dl>

  <div class="message-body">
    {{ message.body }}
  </div>
</article>
