{% extends "base.html" %}

{% block content %}
<div>
  <h2>
    Pedido: {{ object.protocol }}
  </h2>
  <p>
    Anote em um lugar seguro o número de protocolo acima.
  </p>
  <p>
    Detalhes do seu pedido:
  </p>
  <dl>
    <dt>
      Órgão
    </dt>
    <dd>
      {{ object.public_body.name }}
    </dd>
    <dt>
      Aberto em
    </dt>
    <dd>
      {{ object.created_at }}
    </dd>
    <dt>
     Pedido
    </dt>
    {% for message in object.message_set.all %}
      <dd>
        {% include "foi_requests/_message_details.html" %}
      </dd>
    {% endfor %}
  </dl>
</div>
{% endblock %}
