{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
{% include "foi_requests/_load_selectize.html" %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div>
  <h2>
    Novo pedido
  </h2>

  <form
    action="{% url 'message_new' %}"
    method="post">
    {% csrf_token %}

    <div class="form-field">
      {{ form.receiver.errors }}
      <label for="{{ form.receiver.id_for_label }}">
        Órgão Público
      </label>
      {% render_field form.receiver class+="selectize" %}
      <small>
        Não encontrou o órgão público que queria? <a href="{% url 'publicbody_new' %}">Cadastre um novo órgão</a>.
      </small>
    </div>

    <div class="form-field">
      {{ form.summary.errors }}
      <label for="{{ form.summary.id_for_label }}">
        Resumo
      </label>
      {% render_field form.summary placeholder="Qual o resumo do seu pedido?" %}
    </div>

    <div class="form-field">
      {{ form.body.errors }}
      <label for="{{ form.body.id_for_label }}">
        Pedido
      </label>
      {% render_field form.body placeholder="Descreva seu pedido de forma direta e detalhada, evitando quaisquer detalhes que possam te identificar." %}
    </div>

    <div class="form-submit">
      <button type="submit">
        Enviar pedido
      </button>
      ou
      <a class="link-dimmed" href="{% url 'index' %}">cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
