{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
{% include "foi_requests/_load_selectize.html" %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div>
  <p class="warning">
    O maior risco é você ser identificado através do pedido em si. Além de não escrever nenhuma informação pessoal, evite pedir informações particulares.
  </p>
  <form
    action="{% url 'message_new' %}"
    method="post">
    {% csrf_token %}

    <h2>
      Novo Pedido
    </h2>

    <div class="form-field">
      {{ form.receiver.errors }}
      <label for="{{ form.receiver.id_for_label }}">
        Órgão Público
      </label>
      {% render_field form.receiver class+="selectize" %}
      <br>
      <a class="button button-tiny" href="{% url 'publicbody_new' %}">Criar novo</a>
    </div>

    <div class="form-field">
      {{ form.summary.errors }}
      <label for="{{ form.summary.id_for_label }}">
        Resumo
      </label>
      {% render_field form.summary placeholder="Qual o resumo do seu pedido?" %}
    </div>

    <div class="form-field">
      {{ form.body.errors }}
      <label for="{{ form.body.id_for_label }}">
        Pedido
      </label>
      {% render_field form.body placeholder="Descreva seu pedido de forma direta e detalhada, evitando quaisquer detalhes que possam te identificar." %}
    </div>

    <div class="form-submit">
      <button type="submit">
        Enviar pedido
      </button>
      ou
      <a class="link-dimmed" href="{% url 'index' %}">cancelar</a>
    </div>
  </form>
  <p>
    <small>
      Nós não gravamos o endereço IP do seu computador, então a única forma de você ser identificado por esse caminho é se alguém conseguir invadir nossos servidores e alterar o nosso sistema. Tomamos precauções para que isso não aconteça, mas você pode garantir sua anonimidade mesmo caso nosso servidor esteja comprometido usando o <a href="https://www.torproject.org/projects/torbrowser.html">navegador Tor</a>.
    </small>
  </p>
</div>
{% endblock %}
