{% extends "base.html" %}

{% block content %}
{% load widget_tweaks %}

<div>
  <h2>Cadastrar órgão público</h2>

  <form
    action="{% url 'publicbody_new' %}"
    method="post">
    {% csrf_token %}

    <div class="form-field">
      {{ form.name.errors }}

      <label for="{{ form.name.id_for_label }}">
        Nome
      </label>
      {% render_field form.name placeholder="Qual o nome do órgão público?" %}
      <small>
        Antes de cadastrar um novo órgão, por favor confira se ele já não existe <a href="{% url 'foi_request_new' %}">aqui</a>.
      </small>
    </div>

    <div class="form-field">
      {{ form.name.errors }}

      <label for="{{ form.level.id_for_label }}">
        Esfera
      </label>
      {% render_field form.level %}
    </div>

    <div class="form-field">
      {{ form.uf.errors }}

      <label for="{{ form.uf.id_for_label }}">
        Estado
      </label>
      {% render_field form.uf %}
    </div>

    <div class="form-field">
      {{ form.municipality.errors }}

      <label for="{{ form.municipality.id_for_label }}">
        Cidade
      </label>
      {% render_field form.municipality %}
    </div>

    <div class="form-field">
      {{ esic_form.url.errors }}
      <label for="{{ form.esic_url.id_for_label }}">
        URL do Sistema de Informação ao Cidadão
      </label>
      {% render_field esic_form.url placeholder="Qual o endereço da página onde podemos enviar pedidos? (ex.: http://exemplo.gov.br/esic)" %}
    </div>

    <div class="form-submit">
      <button type="submit">
        Cadastrar
      </button>
      ou
      <a class="link-dimmed" href="{% url 'foi_request_new' %}">cancelar</a>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  (function(document) {
      var level = document.getElementById('{{ form.level.id_for_label }}');
      var municipality = document.getElementById('{{ form.municipality.id_for_label }}');
      var uf = document.getElementById('{{ form.uf.id_for_label }}');

      function updateMunicipalityAndUFStates() {
        var value = level.value;

        if (value === 'State') {
          municipality.disabled = true;
          uf.disabled =  false;
        } else if (value === 'Federal') {
          municipality.disabled = true;
          uf.disabled = true;
        } else {
          municipality.disabled = false;
          uf.disabled = false;
        }
      }

      level.addEventListener('change', updateMunicipalityAndUFStates);

      updateMunicipalityAndUFStates();
  })(document);
</script>
{% endblock %}
